.WM0c0 {
  margin: 0 0 1.6rem;
}
.WM0c0.Hv4nZ {
  margin: 0 0 0.8rem;
}
.V7a6X {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.Mnxb3 {
  flex: 1 1;
  flex-direction: column;
}
.Mnxb3,
.yDM52 {
  display: flex;
  gap: 0.8rem;
}
.yDM52 {
  flex: 1 1;
}
.Gp4wS {
  align-items: center;
  background: var(--color-tertiary-40);
  border: none;
  border-radius: 0.4rem;
  color: var(--color-tertiary-700);
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;
  transition: background-color 0.25s ease-in-out 0ms;
}
.Gp4wS.My2t5 {
  flex: 1 1;
}
.Gp4wS:hover {
  background-color: var(--color-tertiary-60);
}
.Gp4wS.urtKh {
  margin-bottom: 0.8rem;
}
.Gp4wS.urtKh:not(:last-child) {
  margin: 0 0.8rem 0.8rem 0;
}
.Gp4wS.S8Me_ {
  margin-bottom: 1.6rem;
}
.Gp4wS.S8Me_:not(:last-child) {
  margin: 0 1.6rem 1.6rem 0;
}
.Gp4wS.cREej {
  font-size: 1.4rem;
  height: 3.8rem;
  min-width: 3.8rem;
  padding: 0 1.2rem;
}
.Gp4wS.SKr3G {
  font-size: 1.6rem;
  height: 5.8rem;
  min-width: 5.8rem;
  padding: 0 2.4rem;
}
.Gp4wS.D6wOO {
  padding-left: 0;
  padding-right: 0;
}
.Gp4wS.qJTQW {
  background: var(--color-tertiary-700);
  color: var(--color-neutral-white);
}
.Gp4wS.Ahu17 {
  background: var(--color-tertiary-40);
  color: var(--color-tertiary-200);
  cursor: auto;
}
.FeOkz .vwEEd,
.XIvuZ {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.rcNmk {
  position: relative;
}
.XIvuZ {
  color: var(--color-tertiary-900);
  font-size: 1.2rem;
  height: 2.4rem;
  line-height: 1.4;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}
.XIvuZ + .vwEEd {
  margin: 3rem 0 1rem;
}
.FeOkz {
  border-radius: 0.3rem;
  position: relative;
  transition: background-color 0.25s ease-in-out 0ms,
    border-color 0.25s ease-in-out 0ms;
  -webkit-user-select: none;
  user-select: none;
}
.FeOkz .vwEEd {
  font-size: 1.6rem;
  line-height: 1.8;
  padding: 1.6rem 4.8rem 1.6rem 1.6rem;
}
.FeOkz .vwEEd,
.FeOkz .vwEEd.swBMv {
  color: var(--color-tertiary-900);
}
.FeOkz .vwEEd.qOyam {
  color: var(--color-tertiary-200);
}
.FeOkz:focus-within {
  border-color: var(--color-tertiary-300) !important;
}
.FeOkz .notSF {
  bottom: 0;
  cursor: default;
  left: 0;
  margin: 0;
  min-height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.FeOkz .notSF:not(:disabled) {
  cursor: pointer;
}
.FeOkz .Uogk_ {
  color: var(--color-tertiary-700);
  pointer-events: none;
  position: absolute;
  top: 2rem;
  transition: color 0.25s ease-in-out 0ms;
  -webkit-user-select: none;
  user-select: none;
  z-index: 3;
}
.FeOkz .xEdpP {
  left: 1.6rem;
}
.FeOkz .xEdpP ~ .JsAZ3 {
  padding-left: 3.2rem;
}
.FeOkz .xEdpP ~ .vwEEd {
  padding-left: 4.8rem;
}
.FeOkz ._IBJf {
  color: var(--color-tertiary-700);
  left: 1.6rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.FeOkz ._IBJf ~ .notSF,
.FeOkz ._IBJf ~ .vwEEd {
  padding-left: 4.8rem;
}
.FeOkz.mcSVq {
  font-weight: 600;
}
.FeOkz .tV1Dx {
  color: var(--color-tertiary-700);
  position: absolute;
  right: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
}
.FeOkz.vwxvF {
  align-items: center;
  display: flex;
}
.FeOkz.sal9R {
  background-color: var(--color-tertiary-10);
  border-color: var(--color-tertiary-150);
}
.FeOkz.sal9R .vwEEd {
  color: var(--color-tertiary-200);
}
.FeOkz.rZWM5 {
  background-color: var(--color-neutral-white);
  border: 0.1rem solid var(--color-tertiary-150);
}
.FeOkz:not(.sal9R):hover {
  border-color: var(--color-tertiary-300);
}
.FeOkz:not(.sal9R):hover.xuqXc {
  background: var(--color-neutral-white);
}
.FeOkz.smxxj {
  background-color: var(--color-neutral-white);
  border-color: var(--color-negative-500);
}
.KhN0I {
  height: 5.8rem;
}
.id7wX {
  height: 2.9rem;
}
.hNCgG {
  align-items: center;
  border: 0.1rem solid var(--color-neutral-80);
  border-radius: 0.4rem;
  display: flex;
  margin-bottom: 4.2rem;
  padding: 1rem 1.7rem;
}
.BF6lG {
  align-self: center;
  color: var(--color-tertiary-800);
  margin: 0 1.6rem 0 0;
}
.PhcgN {
  color: var(--color-tertiary-900);
  font-size: 1.2rem;
  line-height: 2.4rem;
}
.DagsI {
  color: inherit;
  margin-bottom: 0;
}
.tYT6O {
  border-radius: 0.4rem;
  padding: 1.6rem;
  transition: all 0.2s ease-in-out;
  width: 32rem;
}
.tYT6O.gKkWr {
  padding: 4.8rem 1.6rem 1.6rem;
}
.tYT6O.gKkWr.gdkUr {
  padding: 1.6rem;
}
.tYT6O.c1hVn .DagsI {
  margin-bottom: 0.8rem;
}
.iQGAa {
  border-radius: 0.4rem;
  display: flex;
  line-height: 1.5;
  margin-bottom: 1.6rem;
  min-height: 3.2rem;
  padding: 0.8rem;
  width: 100%;
}
.N5Oza {
  color: inherit;
}
.AryT0 {
  background-color: #0000;
  right: 1.6rem;
  top: 1.6rem;
}
.pY0ig {
  background-color: var(--color-neutral-white);
  color: var(--color-tertiary-900);
}
.pY0ig > .iQGAa {
  background-color: var(--color-tertiary-40);
}
.pY0ig > .AryT0 {
  color: var(--color-tertiary-700);
}
@media (hover: hover) {
  .pY0ig > .AryT0:hover {
    background-color: var(--color-tertiary-40);
    color: var(--color-tertiary-600);
  }
}
.pY0ig path {
  fill: var(--color-neutral-white);
}
.gNXYH {
  background-color: var(--color-tertiary-800);
  color: var(--color-neutral-white);
}
.gNXYH > .iQGAa {
  background-color: var(--color-tertiary-600);
}
.gNXYH > .AryT0 {
  color: var(--color-neutral-white);
}
@media (hover: hover) {
  .gNXYH > .AryT0:hover {
    background-color: var(--color-tertiary-600);
    color: var(--color-tertiary-40);
  }
}
.gNXYH path {
  fill: var(--color-tertiary-800);
}
.VYPAL {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}
.VYPAL > :nth-child(2) {
  margin-bottom: 0.8rem;
}
.pqIC6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.pqIC6 > :nth-child(2) {
  margin-left: 0.8rem;
}
.nEEAu {
  margin-top: 1.6rem;
}
.xJB65 {
  margin: 2rem 0;
}
.xJB65:last-child {
  margin-bottom: 0;
}
.iPyrj {
  align-items: center;
  background-color: #0000;
  border-radius: 0.4rem;
  color: var(--color-tertiary-200);
  display: flex;
  font-size: 1.4rem;
  padding: 1.2rem 1.6rem;
  position: relative;
  transition: transition(color);
}
.iPyrj:hover {
  color: var(--color-neutral-white);
}
.iPyrj:before {
  background-color: var(--color-tertiary-700);
  bottom: 0;
  content: "";
  height: 100%;
  left: 3rem;
  position: absolute;
  width: 0.2rem;
  z-index: 1;
}
.iPyrj.YQIOV:before {
  height: 50%;
}
.iPyrj.inTDK:before {
  bottom: auto;
  height: 50%;
  top: 0;
}
.iPyrj.Z5twE {
  background-color: var(--color-tertiary-800);
  color: var(--color-neutral-white);
  font-weight: 600;
  pointer-events: none;
}
.iPyrj.Z5twE.n3OYU {
  color: var(--color-tertiary-200);
  pointer-events: all;
}
.iPyrj.Z5twE.n3OYU:hover {
  color: var(--color-neutral-white);
}
.tHBTa {
  display: block;
}
.pZpdr {
  background-color: var(--color-tertiary-700);
  border-radius: 0.4rem;
  color: var(--color-tertiary-400);
  margin-right: 1.2rem;
  padding: 0.6rem;
  position: relative;
  z-index: 1;
}
.Z5twE .pZpdr {
  background-color: var(--color-secondary-500);
  color: var(--color-neutral-white);
}
@media (hover: hover) {
  .iPyrj:hover .pZpdr {
    color: var(--color-neutral-white);
  }
}
.f0Ylv {
  flex: 1 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.qkUSg {
  margin-left: 0.8rem;
}
.CGCB1 {
  color: var(--color-positive-500);
  left: 3.8rem;
  position: absolute;
  top: 0.6rem;
  z-index: 5;
}
.r4Cd2 {
  margin-right: 1.6rem;
}
.JcGNx {
  position: relative;
}
.lGp9i {
  background-color: var(--color-neutral-white);
  border-radius: 0.4rem;
  box-shadow: 0 0.4rem 0.8rem var(--color-shade-neutral-100);
  display: inline-block;
  margin: 0.4rem;
  opacity: 0;
  padding: 0.8rem;
  pointer-events: none;
  position: absolute;
  top: 100%;
  transition: height 0.25s ease-in-out 0ms, opacity 0.25s ease-in-out 0ms;
  z-index: 500;
}
.lGp9i.u8Nas {
  display: grid;
  grid-template-columns: 1fr;
  width: max-content;
}
.lGp9i.wKrOr {
  opacity: 1;
  pointer-events: all;
}
.lGp9i.lHwHR {
  bottom: 100%;
  position: absolute;
  top: auto;
}
.lGp9i.H8Zff {
  left: -0.4rem;
}
.lGp9i.vxCx5 {
  right: -0.4rem;
}
.lGp9i.O2Ykl {
  left: 100%;
}
.DT0Dp {
  border-top: 0.1rem solid var(--color-neutral-80);
  margin: 0.8rem 0;
}
.jyKfh {
  align-items: center;
  border-radius: 99.9rem;
  cursor: pointer;
  display: flex;
  height: 4rem;
  justify-content: center;
  transition: background-color 0.25s ease-in-out 0ms;
  width: 4rem;
}
.jyKfh:hover:not(.jjN3j) {
  background-color: var(--color-neutral-200);
}
.tbl53 {
  align-items: center;
  background-color: var(--color-tertiary-20);
  border-radius: 99.9rem;
  color: var(--color-tertiary-800);
  display: flex;
  height: 3.2rem;
  justify-content: center;
  width: 3.2rem;
}
.jjN3j {
  border-radius: 0;
  justify-content: space-evenly;
  transition: none;
  width: 6rem;
}
.jjN3j:hover .tbl53 {
  border: 0.2rem solid var(--color-neutral-200);
}
.zQA9k {
  transition: transform 0.25s;
}
.zQA9k.HEm_m {
  transform: rotate(180deg);
}
.C4gME {
  padding: 2.4rem 0;
}
.C4gME,
.b5vrO {
  align-items: center;
  display: flex;
  justify-content: center;
}
.b5vrO {
  flex: 1 1;
  height: 5.6rem;
  padding: 0 1.6rem;
}
.ird0U {
  align-items: center;
  display: flex;
  margin-left: -0.4rem;
  padding: 0.8rem;
  position: relative;
  z-index: 700;
}
.ird0U:hover {
  background-color: var(--color-neutral-200);
}
.UgI3R {
  position: relative;
  z-index: 700;
}
.QNSkL {
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 801;
}
.QNSkL:checked + div {
  opacity: 1;
  pointer-events: auto;
}
.QNSkL:checked + div > div {
  transform: none;
}
.QNSkL:checked:after {
  content: "";
  cursor: pointer;
  display: block;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 702;
}
.y3oIz {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out 0ms;
}
.Fd_z9 {
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-tertiary-900);
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transform: translate(-300%);
  transform-origin: 0 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  width: 24.4rem;
  z-index: 801;
}
.QcQxg {
  margin-left: 3.2rem;
}
.BH8cT {
  background-color: var(--color-neutral-white);
  border: 0.1rem solid var(--color-tertiary-60);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  padding: 1.6rem;
  position: relative;
  width: 100%;
}
.BH8cT.SujRU {
  cursor: pointer;
  transition: box-shadow 0.25s ease-in-out 0ms;
}
.BH8cT.SujRU:hover,
.oHREV {
  box-shadow: 0 0.4rem 0.8rem var(--color-shade-neutral-100);
}
.oHREV {
  border-color: var(--color-brand-im-secondary-rl-primary-500);
  border-left-width: 0.4rem;
  padding-left: 1.2rem;
}
.c3PdE {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}
.Q6fQk {
  display: flex;
  flex-direction: column;
  min-width: 0;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .Q6fQk {
    align-items: center;
    flex-direction: row;
  }
}
.NPlia {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.gwAAX {
  border-radius: 2.8rem;
  color: var(--color-tertiary-900);
  font-weight: 600;
  white-space: nowrap;
}
.gwAAX.wKasQ {
  background-color: var(--color-negative-200);
}
.gwAAX.TqJgL {
  background-color: var(--color-tertiary-20);
  font-weight: 400;
}
.gwAAX.yIskr {
  background-color: var(--color-positive-200);
}
.gwAAX.Fpsgy {
  background-color: var(--color-warning-200);
}
.gwAAX.PLcEt {
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 0.8rem 1.6rem;
}
.gwAAX.PLcEt.j4KKu {
  display: flex;
  justify-content: center;
  width: 6.9rem;
}
.gwAAX.ZXDbT {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 0.4rem 0.8rem;
}
.gwAAX.ZXDbT.j4KKu {
  display: flex;
  justify-content: center;
  width: 4.8rem;
}
.gwAAX.bHtCI {
  display: none;
}
.Zvh9U {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
  transform: rotate(90deg);
}
.un3Ap {
  margin-top: 1.6rem;
  width: 100%;
}
.un3Ap.GoNhj {
  border-top: 0.1rem solid var(--color-tertiary-60);
  margin-top: 0;
  padding-top: 1.6rem;
}
.gzTlh:not(.tZ4z9) {
  margin-left: 1.6rem;
}
.XUtaa {
  display: flex;
  flex-direction: row;
  margin: 1.2rem 0 0;
  min-width: 0;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .XUtaa {
    margin: 0 0 0 1.6rem;
  }
}
.jmuIt,
.wzVUy {
  line-height: 1.6rem;
}
.BR3cj {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  min-width: 0;
  width: 100%;
}
.GQ81Q {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1.6rem 0 0;
}
.GQ81Q.M3UCJ {
  margin: 0;
}
.GQ81Q.qOPfJ {
  justify-content: flex-end;
}
.TUwUR,
.c1Zxb {
  display: flex;
  gap: 0.4rem;
}
.c1Zxb {
  align-items: center;
}
.AMZwc {
  border-radius: 0.4rem;
  outline: 0.1rem solid var(--color-tertiary-60);
  padding: 0.8rem;
  width: -moz-fit-content;
  width: fit-content;
}
.AMZwc,
.EzjJx {
  align-items: center;
  display: flex;
  justify-content: center;
}
.EzjJx {
  height: 5rem;
  overflow: hidden;
  position: relative;
  width: 6.6rem;
}
.EzjJx.Dr2tO {
  height: 6.6rem;
  width: 8.6rem;
}
.caPNx {
  border: 0.2rem solid var(--color-neutral-white);
  box-sizing: border-box;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/*!
 * Cropper.js v1.6.1
 * https://fengyuanchen.github.io/cropperjs
 *
 * Copyright 2015-present Chen Fengyuan
 * Released under the MIT license
 *
 * Date: 2023-09-17T03:44:17.565Z
 */
.cropper-container {
  direction: ltr;
  font-size: 0;
  line-height: 0;
  position: relative;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
}
.cropper-container img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
  height: 100%;
  image-orientation: 0deg;
  max-height: none !important;
  max-width: none !important;
  min-height: 0 !important;
  min-width: 0 !important;
  width: 100%;
}
.cropper-canvas,
.cropper-crop-box,
.cropper-drag-box,
.cropper-modal,
.cropper-wrap-box {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.cropper-canvas,
.cropper-wrap-box {
  overflow: hidden;
}
.cropper-drag-box {
  background-color: #fff;
  opacity: 0;
}
.cropper-modal {
  background-color: #000;
  opacity: 0.5;
}
.cropper-view-box {
  display: block;
  height: 100%;
  outline: 1px solid #39f;
  outline-color: #3399ffbf;
  overflow: hidden;
  width: 100%;
}
.cropper-dashed {
  border: 0 dashed #eee;
  display: block;
  opacity: 0.5;
  position: absolute;
}
.cropper-dashed.dashed-h {
  border-bottom-width: 1px;
  border-top-width: 1px;
  height: 33.33333%;
  left: 0;
  top: 33.33333%;
  width: 100%;
}
.cropper-dashed.dashed-v {
  border-left-width: 1px;
  border-right-width: 1px;
  height: 100%;
  left: 33.33333%;
  top: 0;
  width: 33.33333%;
}
.cropper-center {
  display: block;
  height: 0;
  left: 50%;
  opacity: 0.75;
  position: absolute;
  top: 50%;
  width: 0;
}
.cropper-center:after,
.cropper-center:before {
  background-color: #eee;
  content: " ";
  display: block;
  position: absolute;
}
.cropper-center:before {
  height: 1px;
  left: -3px;
  top: 0;
  width: 7px;
}
.cropper-center:after {
  height: 7px;
  left: 0;
  top: -3px;
  width: 1px;
}
.cropper-face,
.cropper-line,
.cropper-point {
  display: block;
  height: 100%;
  opacity: 0.1;
  position: absolute;
  width: 100%;
}
.cropper-face {
  background-color: #fff;
  left: 0;
  top: 0;
}
.cropper-line {
  background-color: #39f;
}
.cropper-line.line-e {
  cursor: ew-resize;
  right: -3px;
  top: 0;
  width: 5px;
}
.cropper-line.line-n {
  cursor: ns-resize;
  height: 5px;
  left: 0;
  top: -3px;
}
.cropper-line.line-w {
  cursor: ew-resize;
  left: -3px;
  top: 0;
  width: 5px;
}
.cropper-line.line-s {
  bottom: -3px;
  cursor: ns-resize;
  height: 5px;
  left: 0;
}
.cropper-point {
  background-color: #39f;
  height: 5px;
  opacity: 0.75;
  width: 5px;
}
.cropper-point.point-e {
  cursor: ew-resize;
  margin-top: -3px;
  right: -3px;
  top: 50%;
}
.cropper-point.point-n {
  cursor: ns-resize;
  left: 50%;
  margin-left: -3px;
  top: -3px;
}
.cropper-point.point-w {
  cursor: ew-resize;
  left: -3px;
  margin-top: -3px;
  top: 50%;
}
.cropper-point.point-s {
  bottom: -3px;
  cursor: s-resize;
  left: 50%;
  margin-left: -3px;
}
.cropper-point.point-ne {
  cursor: nesw-resize;
  right: -3px;
  top: -3px;
}
.cropper-point.point-nw {
  cursor: nwse-resize;
  left: -3px;
  top: -3px;
}
.cropper-point.point-sw {
  bottom: -3px;
  cursor: nesw-resize;
  left: -3px;
}
.cropper-point.point-se {
  bottom: -3px;
  cursor: nwse-resize;
  height: 20px;
  opacity: 1;
  right: -3px;
  width: 20px;
}
@media (min-width: 768px) {
  .cropper-point.point-se {
    height: 15px;
    width: 15px;
  }
}
@media (min-width: 992px) {
  .cropper-point.point-se {
    height: 10px;
    width: 10px;
  }
}
@media (min-width: 1200px) {
  .cropper-point.point-se {
    height: 5px;
    opacity: 0.75;
    width: 5px;
  }
}
.cropper-point.point-se:before {
  background-color: #39f;
  bottom: -50%;
  content: " ";
  display: block;
  height: 200%;
  opacity: 0;
  position: absolute;
  right: -50%;
  width: 200%;
}
.cropper-invisible {
  opacity: 0;
}
.cropper-bg {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC);
}
.cropper-hide {
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
.cropper-hidden {
  display: none !important;
}
.cropper-move {
  cursor: move;
}
.cropper-crop {
  cursor: crosshair;
}
.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
  cursor: not-allowed;
}
@media only screen and (min-width: 1260px) {
  .y9cl6 {
    display: flex;
    flex: 1 1;
    margin: 0 0 2rem;
  }
  .egvS6 {
    flex: 3 1;
    margin: 0 1rem 0 0;
    max-width: 72%;
  }
}
.YkbJP {
  margin-top: 2.4rem;
}
@media only screen and (min-width: 1260px) {
  .YkbJP {
    flex: 1 1;
    margin: 0 0 0 1rem;
    max-width: 28%;
  }
}
.CYxrJ {
  height: 15rem;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .CYxrJ {
    height: 30rem;
  }
}
@media only screen and (min-width: 1260px) {
  .CYxrJ {
    height: 40rem;
  }
}
.NfjtR {
  color: var(--color-negative-500);
  font-size: 1.2rem;
  margin: 2.4rem 0;
}
.FxiPI {
  display: flex;
  flex-wrap: wrap;
}
.N_uC0 {
  margin: 0 2rem 2rem 0;
}
.N_uC0:last-child {
  margin-right: 0;
}
.x2K4l {
  background: var(--color-neutral-10);
  color: var(--color-neutral-400);
  margin: 0 1rem 0 0;
}
.x2K4l:last-child {
  margin: 0;
}
.M38Wu > * {
  transform: rotate(90deg);
}
.A8SP7 > * {
  transform: rotate(270deg);
}
:where(.y0KtT, .B6gc7) .L7NQp {
  align-items: center;
  background-color: var(--color-neutral-white);
  border: 0.1rem dashed var(--color-tertiary-800);
  border-radius: 0.4rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  height: 6.4rem;
  justify-content: center;
  outline: none;
  position: relative;
  transition: background 0.25s ease-in-out 0ms;
  -webkit-user-select: none;
  user-select: none;
}
.FfzcN .L7NQp {
  position: relative;
}
.y0KtT .L7NQp {
  width: 6.4rem;
}
.B6gc7 .L7NQp {
  width: 15.4rem;
}
.iHaFj .L7NQp {
  background-color: var(--color-tertiary-150);
  color: var(--color-neutral-600);
  cursor: default;
}
:where(.y0KtT, .B6gc7):not(:where(.iHaFj, .hnXEn)) .L7NQp:hover {
  background-color: var(--color-neutral-40);
}
.B6gc7.iHaFj :where(.h0QoF),
.y0KtT.iHaFj :where(.h0QoF) {
  opacity: 0.5;
}
.B6gc7 .h0QoF,
.y0KtT .h0QoF {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
.B6gc7 .qhkbU > div:first-of-type,
.y0KtT .qhkbU > div:first-of-type {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}
.B6gc7 .ENdTV,
.y0KtT .ENdTV {
  align-items: center;
  background: var(--color-neutral-200);
  border-radius: 0.4rem;
  bottom: 0.2rem;
  color: var(--color-tertiary-800);
  display: none;
  height: 2.4rem;
  justify-content: center;
  position: absolute;
  right: 0.2rem;
  width: 2.4rem;
}
.B6gc7 .zMvW6,
.y0KtT .zMvW6 {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.B6gc7 .zMvW6:hover .ENdTV,
.y0KtT .zMvW6:hover .ENdTV {
  display: flex;
}
.B6gc7 .aKpTC,
.y0KtT .aKpTC {
  color: var(--color-tertiary-700);
}
.FfzcN .O0XPu {
  align-items: center;
  background-color: var(--color-secondary-20);
  border: 0.4rem solid var(--color-neutral-white);
  border-radius: 99.9rem;
  display: flex;
  height: 15.6rem;
  justify-content: center;
  min-height: 15.6rem;
  min-width: 15.6rem;
  overflow: hidden;
  width: 15.6rem;
}
.FfzcN.iHaFj :where(.wLffu, .nZccs) {
  opacity: 0.5;
}
.FfzcN .wlX6c {
  background-color: var(--color-neutral-white);
  border-radius: 0.4rem;
  bottom: 0;
  padding: 0.4rem;
  position: absolute;
  right: 0;
}
.Vjt12 {
  margin: 1.6rem auto auto;
  width: 90%;
}
@media only screen and (min-width: 768px) {
  .Vjt12 {
    width: 65rem;
  }
}
.cyrTg {
  height: 16.4rem;
  margin: auto;
  position: relative;
  width: 16.4rem;
}
.cyrTg.DqdbZ {
  margin: 0;
}
.cyrTg.R4uZ0 {
  transform: scale(0.45);
}
.RZQhO {
  align-items: center;
  border-radius: 99.9rem;
  box-shadow: 0 0.4rem 0.8rem var(--color-shade-neutral-100);
  display: flex;
  height: 11.3rem;
  justify-content: center;
  left: 2.75rem;
  position: absolute;
  top: 2.5rem;
  width: 11.3rem;
}
.V1Ig4 {
  color: var(--color-tertiary-800);
  font-size: 1.8rem;
  line-height: 1.6rem;
}
.BLDbD {
  color: var(--color-neutral-40);
  position: absolute;
}
.BLDbD:first-of-type {
  left: 8.25rem;
  top: 0;
  transform: rotate(90deg);
}
.BLDbD:nth-of-type(2) {
  left: 8.5rem;
  top: 8rem;
  transform: rotate(180deg);
}
.BLDbD:nth-of-type(3) {
  left: 0.5rem;
  top: 8.25rem;
  transform: rotate(270deg);
}
.BLDbD:nth-of-type(4) {
  left: 0.25rem;
  top: 0.25rem;
}
.BLDbD.Y5qwv,
.BLDbD.nJsnx {
  color: var(--color-negative-500);
}
.BLDbD.Cga2N {
  color: var(--color-warning-500);
}
.BLDbD.O8H5b,
.BLDbD.R2K2z,
.BLDbD._fi4T {
  color: var(--color-positive-500);
}
.llIsD {
  position: relative;
  width: 100%;
}
.GCMZB {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.Vnjn6 {
  position: relative;
}
.zqlex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: -0.4rem 0;
}
.A5_gZ,
.fv8BQ {
  margin: 0.4rem;
}
.A5_gZ {
  padding: 0.8rem;
}
.yBqVY {
  transform: rotate(90deg);
}
.RAcwT {
  transform: rotate(-90deg);
}
.a256V {
  pointer-events: none;
}
.qyvQf {
  width: 100% !important;
}
.g2A5m {
  -webkit-user-select: none;
  user-select: none;
  z-index: 1;
}
.g2A5m,
.zqDko {
  position: relative;
  width: 100%;
}
.zqDko {
  pointer-events: none;
  z-index: -1;
}
.aiwUF {
  background-color: var(--color-tertiary-800);
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0.5;
  top: 0;
  width: 100%;
  z-index: 2;
}
.aiwUF,
.qRNFU {
  position: absolute;
}
.qRNFU {
  align-items: center;
  -webkit-backdrop-filter: blur(0.3rem);
  backdrop-filter: blur(0.3rem);
  background-color: #141f3980;
  border: 0.2rem solid var(--color-tertiary-150);
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  left: 50%;
  padding: 0.8rem;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.mJJgs {
  padding: 0 5.6rem;
}
